/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* flex container */
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-color:#313E59;
    background-repeat: no-repeat;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

/* flex items */
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px;
    background-color: #5D768C;
    border: 5px solid black;
   
    
}

  img{
   height: 90vh;
   border: 5px solid black;
   border-radius: 25px;
   width: 600px;
   width: 350px;
   overflow: hidden;
  

}

.hidden {
    display: none;
}

.button {

    background-color: #5D768C;
    color: white;
    padding:0px 10px;
    margin: 30px;
    font-size: 30px;
    border-radius: 5px ;
}

.zoom {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    border-radius: 100%;
}